name: Kyara CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '21.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bloom-perf'
      - name: Ci Install
        run: npm ci
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}
      - name: Build Typescript
        run: npm run build
