name: Kyara CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '**.md'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: '21.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bloom-perf'
      - name: Ci Install
        run: npm ci
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN}}
      - name: Build Typescript
        run: npm run build
